
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
   
  }
  
  .container {
    background-color:red;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  /* Sidebar */
  .sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
  }
  
  .sidebar h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
 