body{
  font-family: Arial, Helvetica, sans-serif;
color:white;
}
div{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.register-form {
  background-color:black;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 200px 0px 200px ;
   
  }
  
  .register-form h3{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:rgb(138, 130, 154); }
  
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
    
  }
  
  .register-form input[type="email"]{
    background-color:white;}
  
  .register-form input[type="password"] {
 
    background-color: white;
  }
  
  .register-form button {
   color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: yellowgreen;
  }
  .button1{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(138, 130, 154);}

  