body{
    background-color: rgb(204, 189, 218);
}

div{
    align-items: center;
   flex-wrap: wrap;
   justify-content:center
   
    
}
.encabezado{display: flex;
    flex-direction: column;
    

}
.fotog{
    align-items: center;
    width  :30% ;
    margin : 1.4%;
    display: flex;
}   

#titulo{text-align: center;
    font-size: 40px;
    font-family:"Caveat",cursive;
    text-transform: uppercase;
    border-bottom: solid 2px red;
    
    padding-bottom: 20px;   
}
p{
    padding-left: 10%;
    padding-right: 10%;
}

img{
    width  :25% ;
    margin: 3%;
};

.botones{margin-left: 1%;
    justify-content: center
}
    



   

